# Build
build/bin/
frontend/dist/
frontend/node_modules/
frontend/.vite/
build/windows/installer/tmp/

plugins/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
.gocache/

# Volt data
.volt/

# Other
.claude/
*.log
